<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Healthy Tasty Restaurant Application recommends various restaurants in Indonesia and gives you information regarding the restaurant.">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#000080"/>
    <link rel="icon" href="favicon.png">
    <script src="https://kit.fontawesome.com/026b1e8b70.js" crossorigin="anonymous"></script>
    <title>Healthy Tasty</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <a href="#" id="skipContent" class="skip">Skip to content</a>
    <header>
        <h1>Healthy Tasty</h1>
        <button id="drawerMenu" aria-label="menu" href="#">☰</button>
        <nav id="drawer">
            <a href="#/" class="home">Home</a>
            <a href="#/favorite" class="favorite">Favorite</a>
            <a href="https://www.instagram.com/wbertchen" class="about" target="_blank" rel="noreferrer">About Us</a>
        </nav>
    </header>
    <div class="hero" id="hero">
        <p class="bold top">Healthy Tasty</p>
        <p class="bottom">Let's eat Healthy and Tasty</p>
    </div>
    <main id="container">
        <button id="helpButton" class="help">Help</button>
        <div id="mainContent"></div>
        
    </main>
    
    <footer>
        <p>Copyright &copy; 2021 - Healthy Tasty</p>
    </footer>
</body>
</html>