header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 50px;
    padding: 10px 30px;
    min-height: 100px;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

header h1 {
    text-align: left;
    align-self: center;
}

header #drawerMenu {
    display: flex;
    font-size: 32px;
    padding: 1px 0;
    text-decoration: none;
    align-self: center;
    color: black;
    justify-content: center;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

header #drawer {
    display: grid;
    position: absolute;
    width: 250px;
    background-color: white;
    z-index: 10;
    top: 100px;
    right: -250px;
    transition: all 0.3s;
}

header #drawer a {
    justify-content: left;
    padding: 15px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

header #drawer a:hover {
    font-weight: bold;
}

header #drawer.open {
    right: 0;
}