main .help {
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: skyblue;
  }
  
  main .help:hover {
    cursor: pointer;
    background-color: turquoise;
  }
  
  main help-form {
    position: fixed;
    background-color: gainsboro;
    z-index: 100;
    top: 10%;
    bottom: 10%;
    left: 25px;
    right: 25px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  main help-form h2 {
    text-align: center;
  }
  
  main help-form h4 {
    margin-bottom: 5px;
  }
  
  main help-form .close-button {
    position: absolute;
    right: 3%;
    top: 3%;
    border: none;
    background-color: inherit;
  }
  
  main help-form input {
    margin-bottom: 10px;
    padding: 15px 10px;
    width: 100%;
    border: none;
  }
  
  main help-form .submit {
    display: flex;
    width: 80%;
    margin: 10px auto;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    justify-content: center;
  }