.hero {
    margin-top: 100px;
    background-image: url("../public/images/heros/hero-image_2-small.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero p {
    color: white;
    font-size: 24px;
    background-color: rgba(136, 136, 136, 0.25);
    padding: 0 15px;
}

.hero .bold {
    font-size: 30px;
    font-weight: bold;
}

.hero .top {
    padding-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hero .bottom {
    padding-bottom: 15px;
    border-radius: 10px;
}