@media (min-width: 450px) {
    main help-form {
        left: 50px;
        right: 50px;
    }
}

@media (min-width: 600px) {
    .hero p {
        font-size: 40px;
    }
    
    .hero .bold {
        font-size: 50px;
    }
    
    main .detail img {
        width: 80%;
    }
    
    main .content {
        grid-template-columns: repeat(2, 1fr);
    }
    
    main help-form {
        left: 100px;
        right: 100px;
    }
}

@media (min-width: 900px) {
    header {
        grid-template-columns: 2fr 1fr;
    }
    
    header #drawerMenu {
        display: none;
    }
    
    header #drawer {
        position: initial;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: initial;
        transform: translate(0, 0);
    }
    
    header #drawer a {
        font-size: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        max-width: 150px;
    }
    
    .hero {
        min-height: 400px;
        background-image: url("../public/images/heros/hero-image_2-large.jpg");
    }
    
    main .detail {
        width: 900px;
    }
    
    main .detail img {
        width: 50%;
    }
    
    main .content {
        grid-template-columns: repeat(3, 1fr);
    }
    
    main help-form {
        left: 200px;
        right: 200px;
    }
}

@media (min-width: 1200px) {
    header {
        grid-template-columns: 3fr 1fr;
    }
    
    main .content {
        grid-template-columns: repeat(4, 1fr);
    }
    
    main help-form {
        left: 300px;
        right: 300px;
    }
}